body {
    background-image: url("csub.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: grey;
    background-blend-mode: multiply;

}
h1 {
    font-size: 35px;
}

h5 { 
    font-size: 20px;
}


.jumbotron {
    /* background-color to blue */
    background-color: rgb(8, 8, 186);
    border-bottom: 5px solid rgba(240, 240, 14, 0.977);
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;

}
.container {
    color: rgb(5, 5, 166);
    background-color: white;
    padding: 20px 50px;
    border-radius: 6px;
}

p {
    color: black;
}

p2 {
    color: white;
}

.btn-primary {
    background-color: rgb(8, 8, 186);
    border-color: rgba(240, 240, 14, 0.977);
    color: rgba(240, 240, 14, 0.977);
}

.btn-primary:hover {
    background-color: rgba(240, 240, 14, 0.977);
    border-color: rgb(8, 8, 186);
    color: white;
}

footer {
    text-align: center;
    background-color:rgb(8, 8, 186);
    padding: 10px;
    color: white;
    border-top: 5px solid rgba(240, 240, 14, 0.977);
    /* footer stick to the bottom of the page */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}







