h4 {
    text-align: center;
}

/*Change bootstrap css navbar header color */
.navbar.navbar-inverse  {
    background-color: rgb(8, 8, 186);
    border-color: rgb(8, 8, 186);
    border-bottom: 5px solid rgba(240, 240, 14, 0.977);
    padding: 15px;
}
/*Change bootstrap css navbar dropdown button hover */
.navbar.navbar-inverse .navbar-toggle:hover {
    background-color: rgb(240, 240, 14);
}
/*Change bootstrap css navbar dropdown button active color */
.navbar.navbar-inverse .navbar-toggle:focus {
    background-color: rgb(240, 240, 14);
}

/*Change bootstrap css navbar header color */
.navbar.navbar-inverse .navbar-brand {
    color: white;
    font-size: 25px;
}

/*Change bootstrap css navbar contact link color */
.navbar.navbar-inverse .navbar-nav > li > a {
    color: white;
}

/*Change bootstrap css navbar active page background color */
.navbar.navbar-inverse .navbar-nav > .active > a {
    background-color: rgb(240, 240, 14);
}
/*Change bootstrap css navbar active page hover link color */
.navbar.navbar-inverse .navbar-nav > .active > a:hover {
    color: grey;
}

/*Change bootstrap css navbar contact hover link color */
.navbar.navbar-inverse .navbar-nav > li > a:hover {
    color: rgb(240, 240, 14);
}

/*Change bootstrap css navbar active page link color */
.navbar.navbar-inverse .navbar-nav > .active > a {
    color: rgb(8, 8, 186);
}

/* Change color of jumpotron background */
.jumbotron {
    background-color: rgb(8, 8, 186);
    color: white;
}

/* Change containter fluid2 background color  */
.container-fluid2 {
    background-color: rgb(8, 8, 186);
    border-color:rgb(240, 240, 14);
    color: white;
}

/* Change column text color to black and align text center */
.col-sm-3 {
    color: black;
    text-align: center;
}

/* Change background color of div class "contact" */
.contact {
    background-color: rgb(240, 240, 14);
    padding: 10px;
}

/*change div class contact link color */
.contact a {
    color: rgb(8, 8, 186);
}

/* contact link color grey on hover */
.contact a:hover {
    color: grey;
}





