body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

h3 {
    font-size: 20px;
}

h4 {
    text-align: center;
}

img {
    width: 50%;
}

/*Change bootstrap css navbar header color */
.navbar.navbar-inverse  {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: rgb(8, 8, 186);
    border-color: rgb(8, 8, 186);
    border-bottom: 5px solid rgba(240, 240, 14, 0.977);
    padding: 10px;
}
/*Change bootstrap css navbar dropdown button hover */
.navbar.navbar-inverse .navbar-toggle:hover {
    background-color: rgb(240, 240, 14);
}
/*Change bootstrap css navbar dropdown button active color */
.navbar.navbar-inverse .navbar-toggle:focus {
    background-color: rgb(240, 240, 14);
}

/*Change bootstrap css navbar header color */
.navbar.navbar-inverse .navbar-brand {
    color: white;
    font-size: 25px;
}

/*Change bootstrap css navbar contact link color */
.navbar.navbar-inverse .navbar-nav > li > a {
    color: white;
}

/*Change bootstrap css navbar active page background color */
.navbar.navbar-inverse .navbar-nav > .active > a {
    background-color: rgb(240, 240, 14);
}
/*Change bootstrap css navbar active page hover link color */
.navbar.navbar-inverse .navbar-nav > .active > a:hover {
    color: grey;
}

/*Change bootstrap css navbar contact hover link color */
.navbar.navbar-inverse .navbar-nav > li > a:hover {
    color: rgb(240, 240, 14);
}

/*Change bootstrap css navbar active page link color */
.navbar.navbar-inverse .navbar-nav > .active > a {
    color: rgb(8, 8, 186);
}

/* Undergrad Requirements Section */
.undergrad-requirements {
    background-color: #ffffff;
    padding: 40px;
    margin: 40px 10;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.undergrad-requirements h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.undergrad-requirements .progress {
    height: 25px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.undergrad-requirements .progress-bar {
    background-color: #007bff;
    border-radius: 5px;
}

/* Hover Effects and Transitions */
.undergrad-requirements .progress-bar:hover {
    background-color: #0056b3;
    transition: background-color 0.3s;
}

/* Career Section */
#career-section {
    background-color: #f8f8f8;
    padding: 40px 0;
}

.career-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.career-box p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.career-box {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.career-box h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.career-box ul {
    list-style-type: none;
    padding-left: 0;
}

.career-box ul li {
    padding: 5px 0;
}

.career-box ul li a {
    color: rgb(8, 8, 186);
    text-decoration: none;
}

.career-box ul li a:hover {
    color: rgb(240, 240, 14);
}

.student-info {
    background-color: #f8f8f8; /* Light grey background */
    padding: 20px;
    margin: 20px 10;
    border-radius: 5px; 
    border: 1px solid #e0e0e0; /* Light grey border */
}

.student-info h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #444;
}

.student-info table {
    width: 100%;
    text-align: left;
}

/* Change color of jumpotron background */
.jumbotron {
    background-color: rgb(8, 8, 186);
    color: white;
}

/* Change containter fluid2 background color  */
/*
.container-fluid2 {
    background-color: rgb(8, 8, 186);
    border-color:rgb(240, 240, 14);
    color: white;
}
*/

/* Change column text color to black and align text center */
.col-sm-3 {
    z-index: inherit;
    color: black;
    text-align: center;
}

/* Change background color of div class "contact" */
.contact {
    background-color: rgb(240, 240, 14);
    padding: 10px;
}

/*change div class contact link color */
.contact a {
    color: rgb(8, 8, 186);
}

/* contact link color grey on hover */
.contact a:hover {
    color: grey;
}


  /* Change the background color of the table header */
table.custom-thead > thead > tr > th {
    background-color: rgb(240, 240, 14); 
    color: black; 
} 

  /* Add black border to table */
table.custom-bordered {
    border-collapse: collapse;
    border: 1px solid black;
} 

table.custom-bordered th,
table.custom-bordered td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}


.arrow {
    transition: transform 0.25s;
    z-index: 10;

}

.arrow.up {
    transform: rotate(180deg);
}
  
footer {
    z-index: 11;
    text-align: center;
    background-color:rgb(8, 8, 186);
    padding: 10px;
    color: white;
    border-top: 5px solid rgba(240, 240, 14, 0.977);
    /* footer stick to the bottom of the page */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}






